header {
    background: $primary-color;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 0 20px;
    height: 70px;
    
    .logo {
      height: 50px;
      margin-right: auto;
    }
  
    nav {
      flex-grow: 1;
      display: flex;
      justify-content: center;
      
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        gap: 20px;
        
        li {
          a {
            color: #fff;
            text-decoration: none;
            font-weight: bold;
            
            &:hover {
              color: $secondary-color;
            }
          }
        }
     }
    }
}